* {
    margin: 0;
    padding: 0;
}
div.page {
    text-align: center;
    min-width: 1400px;
    font-family: Inter;
}
header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navm {
    width: auto;
    height: auto;
    padding: 32px 0;
    display: flex;
    margin: 0 auto;
    align-items: center;
    color: black;
}
.listnav {
    margin-right: 72px;
    margin-left: 0;
    text-decoration: none;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: black;
}
ul li {
    display: inline;
}
.list {
    padding: 0;
}
.libr {
    margin-right: 0;
    text-decoration: none;
    font-weight: 400;
}
main {

}
li {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}
.content {

}
img {
    background-color: #00bdc9;
    width: 599px;
    height: 368px;
    padding: 92px 400px;
}
.image {
    background-color: #00bdc9;
}
.contdiv {
    display: flex;
    padding: 88px 0;
    flex-direction: column;
    align-items: center;
}
h2 {
    align-self: stretch;
    color: #000;
    text-align: center;
    margin: 0;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
}
.text {
    width: 856px;
    height: auto;
    display: flex;
    padding: 40px 0;
    flex-direction: column;
    align-items: flex-start;
}
.maintext {
    color: #161616;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    text-align: left;
    display: inline;
}
.color {
    color: #04959E;
    font-weight: 600;
}
.centre {

}
.numb {
    line-height: 150%;
    text-align: left;
    padding: 0;
}
button {
    width: auto;
    height: auto;
    flex-direction: column;
    margin: 10px;
    padding: 10px 24px;
    background-color: #04959E;
    display: flex;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    border: 0;
}
footer {
    align-items: center;
    align-self: stretch;
}
.foot {

}
.final {
    color: #161616;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}